.taskbar {
    background: rgba(76, 74, 72, .5);
    height: 75px;
    display: flex;
    justify-content: start;
    padding-left: 25%;
    gap: 24px;
}

.taskbar:hover {
    z-index: 999;
}

@media (max-width: 768px) {
    .taskbar {
        justify-content: space-around;
        padding-left: 0;
        gap: 0;
    }
}