.header {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
}

.header:hover {
    background: #4c4a48;
    cursor: pointer;
}

.chevron {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-family: 'Ubuntu Mono', 'sans-serif';
    color: white;
    font-size: 16px;
}