.window {
    position: absolute;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: .5;
}

.active {
    opacity: 1;
}

.selectable {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 5px 3px rgba(248, 248, 246, .5);
}

.isDragging {
    opacity: .8
}

.content {
    flex: 1;
    background: #4c4a48;
}

@media (max-width: 768px) {
    .window {
        /* height: 100vh; */
        height: calc(100vh - 75px);
        width: 100vw;
    }
}