.window {
    position: absolute;
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(76, 74, 72, .8);
    opacity: .5;
}

.active {
    opacity: 1;
}

.selectable {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 5px 3px rgba(248, 248, 246, .5);
}

.isDragging {
    opacity: .8
}

.content {
    flex: 1;
    background: #4c4a48;
}
